*
{
	box-sizing: border-box;
	webkit-box-sizing: border-box;
}
body
{
	background-color: #00005c;
	color: #fff;
	font-family: 'Montserrat',sans-serif;
	margin: 0;
	padding: 0;
}
ul,li,a,p,h1,h2,h3,h4,h5,h6
input,button,span
{
	font-family: 'Montserrat',sans-serif;
	margin: 0;
	padding: 0;
}
button,button:hover,button:focus,button:active
{
	background: transparent;
	border: none;
	outline: none;
}
a,a:hover,a:focus,a:active
{
	text-decoration: none;
}
ul
{
	list-style-type: none;
}
.none
{
	display: none;
}
.container
{
	margin: 0 auto;
	max-width: 1170px;
	padding: 0 15px;
}
@media (min-width: 768px)
{
	.owl-theme
	{
		padding: 0 60px;
	}
}
.title
{
	font-size: 30px;
	font-weight: 700;
	margin-bottom: 20px;
	text-align: center;
}
@media (min-width: 768px)
{
	.title
	{
		font-size: 44px;
		text-align: left;
	}
}
.artical
{
	font-size: 18px;
	font-weight: 500;
	text-align: center;
}
@media (min-width: 768px)
{
	.artical
	{
		font-size: 18px;
		text-align: left;
	}
}
.btn-block
{
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	font-size: 18px;
	justify-content: center;
	ms-flex-pack: center;
	webkit-box-pack: center;
}
@media (min-width: 768px)
{
	.btn-block
	{
		text-align: left;
	}
}
@media (min-width: 1190px)
{
	.btn-block
	{
		justify-content: start;
		ms-flex-pack: start;
		webkit-box-pack: start;
	}
}
.link-btn
{
	background-color: #d9d9d9;
	border: 2px solid #d9d9d9;
	border-radius: 35px;
	color: #000;
	cursor: pointer;
	display: inline-block;
	font-family: 'Montserrat',sans-serif;
	font-size: 22px;
	font-weight: 500;
	o-transition: all .4s;
	padding: 13px 38px;
	transition: all .4s;
	webkit-transition: all .4s;
}
.link-btn:hover
{
	background-color: transparent;
	border: 2px solid #d9d9d9;
	color: #d9d9d9;
}
.header
{
	background-image: url(./../img/header/bgHeader.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 100vw;
	min-height: 90vh;
	overflow: hidden;
	padding-top: 170px;
}
.logoheader
{
	align-items: center;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	justify-content: center;
	margin-bottom: 40px;
	ms-flex-align: center;
	ms-flex-pack: center;
	webkit-box-align: center;
	webkit-box-pack: center;
}
@media (min-width: 1010px)
{
	.logoheader
	{
		display: none;
	}
}
.navigation
{
	display: none;
}
@media (min-width: 1010px)
{
	.navigation
	{
		background: rgba(32,18,216,0.9);
		display: block;
		height: auto;
		padding: 15px 0;
		position: fixed;
		width: 100%;
		z-index: 100;
	}
}
.nav
{
	display: none;
}
@media (min-width: 768px)
{
	.nav
	{
		margin: 0;
	}
}
.nav,.nav-list
{
	display: none;
}
@media (min-width: 768px)
{
	.nav,.nav-list
	{
		align-items: center;
		display: flex;
		display: -ms-flexbox;
		display: -webkit-box;
		font-size: 16px;
		font-weight: 500;
		justify-content: space-between;
		ms-flex-align: center;
		ms-flex-pack: justify;
		webkit-box-align: center;
		webkit-box-pack: justify;
	}
}
.nav-item
{
	margin-right: 30px;
	o-transition: all .4s;
	position: relative;
	transition: all .4s;
	webkit-transition: all .4s;
}
.nav-item:first-child
{
	margin-right: 70px;
}
.nav-item:last-child
{
	margin-right: 0;
}
.nav-item:hover::after
{
	border-top: 2px solid #fff;
	content: '';
	left: 0;
	opacity: .8;
	o-transition: 1s;
	position: absolute;
	right: 0;
	top: -20px;
	transition: 1s;
	webkit-transition: 1s;
}
.nav-link
{
	color: #fff;
}
.header-wrap
{
	align-items: center;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	justify-content: start;
	ms-flex-align: center;
	ms-flex-pack: start;
	position: relative;
	webkit-box-align: center;
	webkit-box-pack: start;
	width: 100%;
}
.header-content
{
	margin: 0 auto;
	max-width: 555px;
}
@media (min-width: 1050px)
{
	.header-content
	{
		margin: 0;
		max-width: 555px;
	}
}
.header-artical
{
	margin-bottom: 75px;
}
.header-img
{
	display: none;
}
@media (min-width: 1050px)
{
	.header-img
	{
		display: block;
		height: 100%;
		position: relative;
		width: 100%;
	}
	.header-img img
	{
		bottom: 0;
		content: '';
		height: auto;
		ms-transform: translate(-50%,-80%);
		position: absolute;
		right: -75%;
		top: 80px;
		transform: translate(-50%,-80%);
		webkit-transform: translate(-50%,-80%);
		z-index: 6;
	}
}
.nav__mobil
{
	margin: 0;
	padding: 15px;
	position: fixed;
	right: 20px;
	top: 20px;
	z-index: 100;
}
@media (min-width: 1010px)
{
	.nav__mobil
	{
		display: none;
	}
}
.nav__movil-burger
{
	align-items: center;
	background-color: #fff;
	border: 5px solid #0717ee;
	border-radius: 100%;
	cursor: pointer;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	height: 50px;
	justify-content: center;
	margin-left: auto;
	ms-flex-align: center;
	ms-flex-pack: center;
	padding: 5px;
	webkit-box-align: center;
	webkit-box-pack: center;
	width: 50px;
	z-index: 10;
}
.nav__movil-burger span
{
	background-color: #0717ee;
	display: block;
	height: 4px;
	margin: auto;
	position: relative;
	width: 80%;
	z-index: 10;
}
.nav__movil-burger span::after,.nav__movil-burger span::before
{
	background-color: #0717ee;
	content: "";
	height: 4px;
	position: absolute;
	right: 0;
	width: 100%;
	z-index: 10;
}
.nav__movil-burger span::before
{
	o-transition: 1s;
	top: -7px;
	transition: 1s;
	webkit-transition: 1s;
	z-index: 10;
}
.nav__movil-burger span::after
{
	o-transition: 1s;
	top: 7px;
	transition: 1s;
	webkit-transition: 1s;
	z-index: 10;
}
.nav__movil-burger.activ
{
	background-color: #fff;
	z-index: 10;
}
.nav__movil-burger.activ span
{
	background-color: #fff;
	background-color: transparent;
	o-transition: .3s;
	transition: .3s;
	webkit-transition: .3s;
	z-index: 10;
}
.nav__movil-burger.activ span::before
{
	background-color: #fff;
	ms-transform: rotate(45deg);
	o-transition: 1s;
	top: 0;
	transform: rotate(45deg);
	transition: 1s;
	webkit-transform: rotate(45deg);
	webkit-transition: 1s;
}
.nav__movil-burger.activ span::after
{
	background-color: #fff;
	ms-transform: rotate(-45deg);
	o-transition: 1s;
	top: 0;
	transform: rotate(-45deg);
	transition: 1s;
	webkit-transform: rotate(-45deg);
	webkit-transition: 1s;
}
.nav__movil-burger.activ .nav-list_mobil
{
	background-color: #0717ee;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	left: 0;
	margin: 0;
	ms-flex-direction: column;
	ms-flex-pack: center;
	position: fixed;
	top: 0;
	webkit-box-direction: normal;
	webkit-box-orient: vertical;
	webkit-box-pack: center;
	width: 100%;
	z-index: 3;
}
.nav__movil-burger.activ .nav-list_mobil a
{
	color: #fff;
	display: block;
	font-size: 30px;
	font-weight: 700;
	margin-bottom: 30px;
	text-align: center;
	z-index: 3;
}
.nav-list_mobil
{
	display: none;
}
.product
{
	min-height: 100vh;
	overflow: hidden;
	padding-top: 90px;
	position: relative;
	width: 100%;
	z-index: 1;
}
.product::after
{
	background-image: url(./../img/sc2/bgsec2.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	bottom: 0;
	content: '';
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: -1;
}
@media (min-width: 728px)
{
	.product
	{
		padding-top: 50px;
	}
}
@media (min-width: 1010px)
{
	.product
	{
		padding-top: 100px;
	}
}
.product-title
{
	margin-bottom: 0;
	text-align: center;
}
.product-imgled
{
	align-items: center;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	height: auto;
	justify-content: center;
	margin-bottom: 60px;
	max-width: 1180px;
	ms-flex-align: center;
	ms-flex-pack: center;
	webkit-box-align: center;
	webkit-box-pack: center;
}
.product-imgled img
{
	height: auto;
	width: 100%;
}
.aqva-mob
{
	align-items: center;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	justify-content: space-between;
	margin-bottom: 20px;
	ms-flex-align: center;
	ms-flex-pack: justify;
	webkit-box-align: center;
	webkit-box-pack: justify;
}
.aqva-mob img
{
	max-width: 100px;
}
.aqva-mob span
{
	display: inline-block;
	max-width: 170px;
}
.aqva-mob:last-child
{
	margin-bottom: 0;
}
@media (min-width: 620px)
{
	.aqva-mob
	{
		display: none;
	}
}
.aqva-bottom,.aqva-top
{
	display: none;
}
@media (min-width: 620px)
{
	.aqva-bottom,.aqva-top
	{
		align-items: center;
		display: flex;
		display: -ms-flexbox;
		display: -webkit-box;
		justify-content: space-between;
		ms-flex-align: center;
		ms-flex-pack: justify;
		webkit-box-align: center;
		webkit-box-pack: justify;
	}
}
.top-right,.top-left,.bottom-left,.bottom-right
{
	max-width: 290px;
	position: relative;
}
.top-left .aqva-text
{
	left: 0;
	position: absolute;
	top: -60px;
}
.top-right .aqva-text
{
	left: 0;
	position: absolute;
	text-align: right;
	top: -60px;
}
.aqva-centr
{
	align-items: center;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	height: auto;
	justify-content: center;
	ms-flex-align: center;
	ms-flex-pack: center;
	webkit-box-align: center;
	webkit-box-pack: center;
}
.aqva-centr img
{
	height: 100%;
	width: 100%;
}
.aqva-bottom
{
	margin-bottom: 200px;
}
.bottom-left .aqva-text
{
	bottom: 10px;
	left: 0;
	position: absolute;
}
.bottom-right .aqva-text
{
	bottom: 10px;
	position: absolute;
	right: 0;
	text-align: right;
}
.aqva-text
{
	font-size: 22px;
	font-weight: 500;
}
.aqva-textmob
{
	font-size: 16px;
	font-weight: 500;
}
.product-slider
{
	padding-top: 90px;
}
.product-slider .product-title
{
	margin-bottom: 50px;
}
@media (min-width: 768px)
{
	.product-slider .product-title
	{
		margin-bottom: 200px;
	}
}
.slider
{
	margin-bottom: 200px;
	position: relative;
}
.owl-next,.owl-prev
{
	background: transparent;
	border: none;
	content: '';
	ms-transform: translateY(-50%);
	outline: none;
	position: absolute;
	transform: translateY(-50%);
	webkit-transform: translateY(-50%);
}
.owl-next svg,.owl-prev svg
{
	opacity: .5;
}
.owl-next:hover,.owl-prev:hover
{
	background: transparent;
	border: none;
	outline: none;
}
.owl-prev
{
	left: 0;
	top: 50%;
}
.owl-next
{
	right: 0;
	top: 50%;
}
.owl-theme .owl-nav:hover
{
	background: transparent;
}
.owl-theme .owl-nav:hover svg
{
	opacity: 1;
}
.item
{
	border-radius: 15px;
}
.item img
{
	border-radius: 15px;
}
.description
{
	margin-bottom: 100px;
	position: relative;
	width: 100%;
	z-index: 1;
}
.description::after
{
	background-image: url(./../img/sc3/bgsc3.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	bottom: 0;
	content: '';
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: -1;
}
.description-wrap
{
	align-items: center;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	flex-direction: column-reverse;
	justify-content: space-between;
	ms-flex-align: center;
	ms-flex-direction: column-reverse;
	ms-flex-pack: justify;
	webkit-box-align: center;
	webkit-box-direction: reverse;
	webkit-box-orient: vertical;
	webkit-box-pack: justify;
}
@media (min-width: 768px)
{
	.description-wrap
	{
		flex-direction: row;
		justify-content: space-between;
		ms-flex-direction: row;
		ms-flex-pack: justify;
		webkit-box-direction: normal;
		webkit-box-orient: horizontal;
		webkit-box-pack: justify;
	}
}
.description-artical
{
	margin-bottom: 10px;
}
.description-artical:last-of-type
{
	margin-bottom: 80px;
}
.description-image
{
	height: auto;
	max-width: 758px;
}
.description-image img
{
	height: 100%;
	width: 100%;
}
.description-title
{
	margin-bottom: 0;
	text-align: center;
}
.reviews
{
	margin-bottom: 180px;
	padding-top: 90px;
}
.reviews-wrapper .item
{
	background: #fff;
	color: #000;
	padding: 15px;
}
.item-header
{
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	justify-content: space-between;
	ms-flex-pack: justify;
	webkit-box-pack: justify;
}
.item-stars
{
	color: #d6c915;
	font-size: 25px;
}
.footer
{
	height: 100%;
	width: 100%;
}
.footer-content .link-btn
{
	margin-bottom: 65px;
}
.footer-wrap
{
	align-items: center;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	justify-content: space-between;
	margin-bottom: 30px;
	ms-flex-align: center;
	ms-flex-pack: justify;
	overflow: hidden;
	webkit-box-align: center;
	webkit-box-pack: justify;
}
.footer-title
{
	margin-bottom: 35px;
}
.footer-artical
{
	margin-bottom: 50px;
}
.footer-item
{
	margin-bottom: 20px;
}
.footer-item:last-of-type
{
	margin-bottom: 0;
}
.footer-link
{
	align-items: center;
	color: #fff;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	font-size: 18px;
	font-weight: 500;
	justify-content: start;
	ms-flex-align: center;
	ms-flex-pack: start;
	webkit-box-align: center;
	webkit-box-pack: start;
}
.footer-link img
{
	margin-right: 15px;
}
.footer-image
{
	display: none;
}
@media (min-width: 768px)
{
	.footer-image
	{
		display: block;
		height: auto;
		max-width: 575px;
		width: 100%;
	}
	.footer-image img
	{
		height: 100%;
		width: 100%;
	}
}
.copy
{
	align-items: center;
	border-top: 1px solid #fff;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	justify-content: center;
	margin: 0 auto;
	max-width: 400px;
	ms-flex-align: center;
	ms-flex-pack: center;
	padding: 15px 0;
	webkit-box-align: center;
	webkit-box-pack: center;
}
.developers-text
{
	margin-right: auto;
}
.developers-text a
{
	color: #fff;
}

.footer-artical {
	max-width: 500px;
}

.top-right, .bottom-right {
	margin-left: auto;
}

.nav-list {
	margin-right: auto;
}